[Unit]
Description=Spotify fetcher service
After=network.target

[Service]
Type=simple
ExecStart=/opt/immomio/fetcher.py
User=vagrant

[Install]
WantedBy=multi-user.target
